.container
  %h1 MD5 + SHA1
  %form{:action => "/md5_sha1", :method => "post"}
    %legend
      Generator md5 + sha1 code
    %p
      %label{:for => ""} Writte your string
      %input{:type => "textbox", :name => "string_code", :id => "string_code"}
    %p
      %input{:type => "submit", :value => "Go!!!"}