.container
  %h1 SHA1 + MD5
  %form{:action => "/sha1_md5", :method => "post"}
    %legend
      Generator sha1 + md5 code
    %p
      %label{:for => ""} Writte your string
      %input{:type => "textbox", :name => "string_code", :id => "string_code"}
    %p
      %input{:type => "submit", :value => "Go!!!"}