.container
  %h1 SHA1
  %form{:action => "/sha1_1", :method => "post"}
    %legend
      Generator sha1 code
    %p
      %label{:for => ""} Writte your string
      %input{:type => "textbox", :name => "string_code", :id => "string_code"}
    %p
      %input{:type => "submit", :value => "Go!!!"}